body {
  background-color: #EEEEEE;
  overflow:hidden;
}



#header {
  background-color: #888;
  height:100%;
  width:100%;
  padding:8px;
  position:relative;
  bottom:8px;
  right:8px;
}

#side-bar {
  position: fixed;
  top: 50px;
  border: 1px solid black
}

#img-container {
  background-color: #FFFFFF;
  left:200px;
  position:fixed;
  overflow-y:auto;
  overflow-x:hidden;
  min-width:400px;
  max-height:calc(100% - 108.8px);
  min-height:calc(100% - 108.8px);
  text-align:left;
  top:108.8px;
  width:calc(100% - 200px);
}